:root {
  --color-white: #fff;
  --color-black: #000;
  --color-water-level: #0011ff;
  --color-button-primary: #2e63f6;
  --color-bathtub-bg: rgba(136, 136, 136, 0.1);
  --color-button-box-shadow: rgba(0, 0, 0, 0.3);
  --color-bathtub-box-shadow: rgba(0, 0, 0, 0.1);
}
